body {
	background: url(../img/bg/background.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.calculator {
    position: relative;
    margin-top: 10%;
    height: auto;
	width: 300px;

   	background-image: url('../img/bg/leather.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	background-size: cover;
	font-family: "Arial";
	text-align: center;
	color: black;
	margin-left: auto;
	margin-right: auto;
	box-sizing: content-box;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	box-shadow: 10px 11px 14px rgba(0, 0, 0, 0.75);
}


.calculator h1 {
	color: #FFFAEF;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
	padding-top: 10px;
	margin-bottom: 20px;
}


.display {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	width: 252px;
	height: 40px;
	background: #FFFAEF;
	color: black;
	border-radius: 0px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	font-size: 2em;
}


.buttons {
	margin-left: auto;
	margin-right: auto;
}


.btn-default {
	background: #FFFAEF;
	color: #585858;
	margin-bottom: 4px;
	margin-right: 0.5px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
	width: 60px;
	height: 50px;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 0px;
}


.btn-ac {
	width: 125px;
	height: 50px;
	margin-bottom: 4px;
}


.btn-del {
	width: 125px;
	height: 50px;
	margin-bottom: 4px;
}


.btn-default:hover {
	background: #f8f8f8;
	font-size: 1.6em;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-style: italic;
  opacity: 0.75;
}


footer a {
    color: #FFCDB0;
}


footer a:hover {
  color: pink;
}
